*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin / build caches
.kotlin/

# Keystores & sensitive credentials
*.jks
*.keystore
google-services.json
play-service-account.json

# Release build outputs
app/release/
app/build/
*.aab
*.apk

# Fastlane
Gemfile.lock
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
